header {
    max-width: 100%;
    max-height: 3.5rem;
    /* padding: 0 1.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 9.125rem;
        height: 1.5rem;
        gap: 0.625rem;

        img {
            width: 1.5rem;
            height: 1.5rem;

        }

        figure  {
            display: flex;
            align-items: center;
            width: 5.625rem;
            height: 1.25rem;
            margin: 0;
            
            img {
                width: 5.625rem;
                height: 1.25rem;
            }

        }

    }


    .center {
        display: flex;
        align-items: center;
        width: 25.25rem;
        height: 2.5rem;
        justify-content: right;

        form  > label > input {
            height:2.375rem;
            width: calc(25.25rem - 3.5625rem);
            border: none;
            border-right: 0.0625rem solid #CCCCCC;
            outline: none;
            display: none;
        }

        span {
            width: 3.5625rem;
            height: 2.6875rem;
            border-width: 0.0625rem;
            display: flex;
            align-items: center;
            justify-content: center;   
        }

    }


    .right {
        display: flex;
        align-items: center;
        width: 8.125rem;
        height: 2.125rem;
        gap: 1.5rem;


        figure {
            width: 2.125rem;
            height: 2.125rem;
            margin: 0;
            
            img {
                width: 2.125rem;
                height: 2.125rem;
                border-radius: 624.9375rem;
                background: #000 url(../assets/img/profile.png) no-repeat center;
                background-size: contain;

            }

        }

    }

}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
    
    header {
        max-width: 100%;
        max-height: 3.5rem;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 9.125rem;
            height: 1.5rem;

            img {
                width: 1.5rem;
                height: 1.5rem;

            }

            figure  {
                display: flex;
                align-items: center;
                width: 5.625rem;
                height: 1.25rem;
                margin: 0;
                
                img {
                    width: 5.625rem;
                    height: 1.25rem;
                }

            }

        }


        .center {
            display: flex;
            align-items: center;
            width: 25.25rem;
            height: 2.5rem;
            border-width: 0.0625rem;
            border: 0.0625rem solid #CCCCCC;

            form  > label > input {
                display: inline;
                height:2.375rem;
                width: calc(25.25rem - 3.5625rem);
                border: none;
                border-right: 0.0625rem solid #CCCCCC;
                outline: none;
            }

            span {
                width: 3.5625rem;
                height: 2.6875rem;
                border-width: 0.0625rem;
                display: flex;
                align-items: center;
                justify-content: center;   
            }

        }


        .right {
            display: flex;
            align-items: center;
            width: 8.125rem;
            height: 2.125rem;
            gap: 1.5rem;


            figure {
                width: 2.125rem;
                height: 2.125rem;
                margin: 0;
                
                img {
                    width: 2.125rem;
                    height: 2.125rem;
                    border-radius: 624.9375rem;
                    background: #000 url(../assets/img/profile.png) no-repeat center;
                    background-size: contain;

                }

            }

        }

    }
    
}

@media screen and (min-width: 64rem){
    header {
        max-width: 100%;
        max-height: 3.5rem;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 9.125rem;
            height: 1.5rem;

            img {
                width: 1.5rem;
                height: 1.5rem;

            }

            figure  {
                display: flex;
                align-items: center;
                width: 5.625rem;
                height: 1.25rem;
                margin: 0;
                
                img {
                    width: 5.625rem;
                    height: 1.25rem;
                }

            }

        }


        .center {
            display: flex;
            align-items: center;
            width: 25.25rem;
            height: 2.5rem;
            border-width: 0.0625rem;
            border: 0.0625rem solid #CCCCCC;

            form  > label > input {
                display: inline;
                height:2.375rem;
                width: calc(25.25rem - 3.5625rem);
                border: none;
                border-right: 0.0625rem solid #CCCCCC;
                outline: none;
            }

            span {
                width: 3.5625rem;
                height: 2.6875rem;
                border-width: 0.0625rem;
                display: flex;
                align-items: center;
                justify-content: center;   
            }

        }


        .right {
            display: flex;
            align-items: center;
            width: 8.125rem;
            height: 2.125rem;
            gap: 1.5rem;


            figure {
                width: 2.125rem;
                height: 2.125rem;
                margin: 0;
                
                img {
                    width: 2.125rem;
                    height: 2.125rem;
                    border-radius: 624.9375rem;
                    background: #000 url(../assets/img/profile.png) no-repeat center;
                    background-size: contain;

                }

            }

        }

    }

}
